.list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 1rem;
  padding-top: 2rem;
}

.list dl {
  margin: 0;
}

.list dt {
  float: left;
  clear: both;
  width: 48px;
}
.list dd {
  margin-left: 48px;
  box-sizing: border-box;
  width: calc(100% - 48px);
  line-height: 2rem;
}

.mark {
  position: relative;
  top: 0.2rem;
  left: 4px;
  display: inline-block;
  height: 1.32rem;
  width: 2rem;
  cursor: pointer;
}

.picker {
  display: inline-block;
}
