.grid {
  display: grid;
  box-sizing: border-box;
  overflow-y: auto;
  scroll-behavior: smooth;
}

.sticky_column {
  position: sticky;
  left: 0;
  z-index: 1;
}

.header {
  background-color: var(--apply-color);
}
.header,
.cell {
  border: 1px solid var(--white-color);
  padding: 8px;
  text-align: center;
}
.cell {
  background-color: var(--white-color);
  min-width: 120px;
}
.lightgreen {
  background-color: var(--apply-color-01);
}

.total {
  border-top: 1px solid var(--dark-color);
  font-weight: bold;
  text-align: center;
  line-height: 2rem;
  font-size: 1.2rem;
}
